@define-mixin section-divider-line {
	background-color: $color-gray-light;
	display: block;
	max-width: 80rem;
	width: 100%;
	height: 1px;
}

@define-mixin atSmall {
	@media (min-width: 400px) {
		@mixin-content;
	}
}

@define-mixin atSmall--medium {
	@media (min-width: 500px) {
		@mixin-content;
	}
}

@define-mixin atSmall--large {
	@media (min-width: 600px) {
		@mixin-content;
	}
}

@define-mixin atMedium--small {
	@media (min-width: 700px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atMedium--large {
	@media (min-width: 980px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}