/**
 * Font Variables
 */

$base-font-family: Lato, sans-serif;
$heading-font-family: 'Playfair Display', serif;

/**
 * Color Variables
 */

$color-black-primary: #1E1E24;
$color-red-primary: #FF1053;
$color-white-primary: #FFF;
$color-brown-primary: #BE9D53;
$color-peach-dark: #D8A061;
$color-peach-darker: #B27735;
$color-blue-primary: #111D4A;
$color-blue-light: #58648D;
$color-green-light: #068D9D;
$color-gray-light: #F7F7F7;
$color-gray-dark: #444;