.contact {
	

	&__body {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	&__text-column {
		flex: 1 1 40rem;
		margin-right: 0;
		margin-bottom: 3rem;

		@mixin atMedium {
			margin-bottom: 0;
			margin-right: 3rem;
		}
	}

	&__form-column {
		flex: 1 1 40rem;
	}
}