.featured-post {
	position: relative;
	margin-right: 3rem;
	flex: 1 1 62rem;
	padding-left: 2rem;
	padding-bottom: 4rem;

	&__img {
		position: relative;
		top: -3.5rem;
		left: -2rem;
	}

	&__label {
		color: #FFF;
		font-size: 3.5rem;
		background-color: $color-brown-primary;
		padding: 1rem 0 1rem 2rem;
		letter-spacing: 2px;
		max-width: 90%;
		font-weight: 300;
		text-transform: uppercase;
		position: relative;
		top: -8rem;
		left: -2rem;
		margin-bottom: -5rem;
	}

	&__title {
		font-size: 6rem;
		line-height: 1.2;
		margin-bottom: 1.5rem;

		& > a {
			color: $color-black-primary;
			transition: color .25s;

			&:hover {
				color: $color-red-primary;
			}
		}
	}

	&__excerpt {
		margin-bottom: 2rem;
	}

	&__meta {
		text-align: right;
	}

	&__category-text {
		font-size: 1.8rem;
		background-color: $color-gray-light;
		display: inline-block;
		padding: .7rem 1.5rem;
	}

	&__category-link {
		text-transform: uppercase;
		color: $color-red-primary;
		transition: color .25s;

		&:hover {
			color: $color-brown-primary;
		}
	}
}