.hero {

	&--inner {
		background-color: $color-gray-light;
		padding-top: 4rem;
		text-align: center;
	}

	&--title-bottom {
		background-color: $color-gray-light;
		padding-top: 5rem;
		max-height: 43rem;
	}

	&--title-top {
		background-color: $color-gray-light;
		max-height: 43rem;
		padding-top: 4rem;

		& img {
			position: relative;
			top: -4rem;
		}
	}

	&__title {
		font-size: 5rem;
		color: $color-brown-primary;
		background-color: #FFF;
		background-image: linear-gradient($color-gray-light, #FFF 45%);
		max-width: 40rem;
		text-align: center;
		margin: 0 auto;
		position: relative;
		z-index: 10;

	}

	&__headline {
		font-size: 5rem;
		margin-bottom: -13rem;
		text-align: center;
		color: $color-brown-primary;

		&::after {
			content: '';
			height: 2px;
			width: 10rem;
			background-color: $color-brown-primary;
			display: block;
			margin: 1.5rem auto 0;
		}
	}

	&__img {
		display: inline-block;
		position: relative;
		top: 17rem;
		box-shadow: 5px 5px 2rem 2px rgba(0,0,0,.15);

		&--title-bottom {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}