.sidebar {
	background-color: $color-gray-light;
	position: relative;
	flex: 1;

	&--toc {
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&--review {
		padding-top: 8.5rem;
		position: sticky;
		top: 6.5rem;
	}

	&__decoration {

		&--top {
			position: relative;
			border-top: 1px solid $color-blue-primary;

			&::before {
				content: '';
				background-color: $color-blue-primary;
				display: block;
				height: 3rem;
				width: 3rem;
				margin-top: -6.5rem;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				transform: rotate(45deg);
			}
		}
	}
}